/* 
    Document   : style
    Created on : Jul 29, 2013, 20:29:01 PM
    Author     : Vu Dang Tung
    Description:
        Purpose of the stylesheet follows.
*/

.sd-menu {
    margin-bottom: 5px;
    color : red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}