/* 
    Document   : style
    Created on : Jul 29, 2013, 20:29:01 PM
    Author     : Vu Dang Tung
    Description:
        Purpose of the stylesheet follows.
*/

.sd-menu {
    margin-bottom: 5px;
    color : red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.doanvien_content {
    width : 100%;
    margin: 5px auto;
    margin-left: 10px;
    height: auto;
}

.dv_left {
    float: left;
    width: 49%;
}

.dv_right {
    float: right;
    margin-left: 2px;
    width: 49%;
}

.req {
    color: red;
    font-size: 16px;
    margin-left: 16px;
    
}

.clear2 {
    height: 10px;
}

.text {
    margin-top: -5px;
}

.info-user {
    border: 1px solid #DDD;
}