/* 
    Document   : style
    Created on : Jul 29, 2013, 20:29:01 PM
    Author     : Vu Dang Tung
    Description:
        Purpose of the stylesheet follows.
*/

.sd-menu {
    margin-bottom: 5px;
    color : red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.doanvien_content {
    width : 100%;
    margin: 5px auto;
    margin-left: 10px;
    height: auto;
}

.dv_left {
    float: left;
    width: 49%;
}

.dv_right {
    float: right;
    margin-left: 2px;
    width: 49%;
}

.req {
    color: red;
    font-size: 16px;
    margin-left: 16px;
    
}

.clear2 {
    height: 10px;
}

.title {
    text-align: center;
}

.ten_doan_vien{
    color: #0044cc;
    font-size: 120%;
}

.tablelist2
{
    width: 100%;
    margin-top: 20px;
}

.colSM1
{
    width: 5%;
}
.colSM2
{
    width: 23%;
}
.colSM3
{
    width: 5%;
}
.colSM4
{
    width: 7%;
}
.colSM5
{
    width: 20%;
}
.colSM6
{
    width: 15%;
}
.colSM7
{
    width: 15%;
}
.colSM8
{
    width: 10%;
}

.text {
    margin-top: -5px;
}

.info-user {
    border: 1px solid #DDD;
}

.doanvien_view {
    width: 90%;
    margin: 0px auto;
}

.r1 {
    height: 100px;
    float: top;
}

.dv_avatar {
    float:left;
    width: 150px;
}

.r1r {
    float: right;
    width: 500px;
}
